<div class="container-fluid">
  <div class="row">
    <div class="left-bar col-12 col-sm-auto">
      <div class="position-fixed">
      <div class="logo col-12">
        <h2>Préstamos</h2>
      </div>
      <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
        <a class="button" mat-button [routerLink]="['/create']"><span>Prestamos</span></a>
        <a class="button" mat-button [routerLink]="['/payment']"><span>Préstamos aprobados</span></a>
        <a class="button" mat-button [routerLink]="['/nopayment']"><span>Prestamos no aprobados</span></a>
      </nav>
      </div>
    </div>
      <main class="main col">
        <div class="row">
          <div class="column col-lg-7">
            <router-outlet></router-outlet>
          </div>
          <div class="column col-lg-4 mt-4">
            <div class=" col-lg-3 position-fixed">
              <app-amount></app-amount>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <!--   <p>
    <mat-toolbar>
      <span class="ml-5">Préstamos</span>
    </mat-toolbar>
  </p>

    <div class="row">
      <div class="col-12">
      <div class="col-4">
      <ul class="drawer nav flex-colum border-right">
        <div class="text-center mx-auto mt-5">
          <img mat-card-image class="img rounded float-center mb-4" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>
        <nav class=" m-0 p-0 ml-4">
          <button mat-button [routerLink]="['/create']">Solicitar préstamo</button>
          <button mat-button [routerLink]="['/payment']">Solicitudes aprobadas </button>
          <button mat-button>Solicitudes pendientes</button>
        </nav>
      </ul>
    </div>
  </div>
</div> -->



<!-- <div class="col-md-4">
  <ul class="drawer nav flex-colum border-right">
    <div class="text-center mx-auto mt-5">
      <img mat-card-image class="img rounded float-center mb-4" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
    <nav class=" m-0 p-0 ml-4">
      <button mat-button [routerLink]="['/create']">Solicitar préstamo</button>
      <button mat-button [routerLink]="['/payment']">Solicitudes aprobadas </button>
      <button mat-button>Solicitudes pendientes</button>
    </nav>
  </ul>
</div>
  <div class="col-md-5">
    <router-outlet></router-outlet>
  </div>

 -->